<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Level1Unlocked</key>
	<true/>
	<key>Level1Stars</key>
	<integer>0</integer>
	<key>Level2Unlocked</key>
	<false/>
	<key>Level2Stars</key>
	<integer>0</integer>
	<key>Level3Unlocked</key>
	<false/>
	<key>Level3Stars</key>
	<integer>0</integer>
	<key>Level4Unlocked</key>
	<false/>
	<key>Level4Stars</key>
	<integer>0</integer>
	<key>Level5Unlocked</key>
	<false/>
	<key>Level5Stars</key>
	<integer>0</integer>
	<key>Level6Unlocked</key>
	<false/>
	<key>Level6Stars</key>
	<integer>0</integer>
	<key>Level7Unlocked</key>
	<false/>
	<key>Level7Stars</key>
	<integer>0</integer>
	<key>Level8Unlocked</key>
	<false/>
	<key>Level8Stars</key>
	<integer>0</integer>
	<key>Level9Unlocked</key>
	<false/>
	<key>Level9Stars</key>
	<integer>0</integer>
	<key>Level10Unlocked</key>
	<false/>
	<key>Level10Stars</key>
	<integer>0</integer>
	<key>Level11Unlocked</key>
	<false/>
	<key>Level11Stars</key>
	<integer>0</integer>
	<key>Level12Unlocked</key>
	<false/>
	<key>Level12Stars</key>
	<integer>0</integer>
	<key>Level13Unlocked</key>
	<false/>
	<key>Level13Stars</key>
	<integer>0</integer>
	<key>Level14Unlocked</key>
	<false/>
	<key>Level14Stars</key>
	<integer>0</integer>
	<key>Level15Unlocked</key>
	<false/>
	<key>Level15Stars</key>
	<integer>0</integer>
	<key>Level16Unlocked</key>
	<false/>
	<key>Level16Stars</key>
	<integer>0</integer>
	<key>Level17Unlocked</key>
	<false/>
	<key>Level17Stars</key>
	<integer>0</integer>
	<key>Level18Unlocked</key>
	<false/>
	<key>Level18Stars</key>
	<integer>0</integer>
	<key>Level19Unlocked</key>
	<false/>
	<key>Level19Stars</key>
	<integer>0</integer>
	<key>Level20Unlocked</key>
	<false/>
	<key>Level20Stars</key>
	<integer>0</integer>
	<key>Level21Unlocked</key>
	<false/>
	<key>Level21Stars</key>
	<integer>0</integer>
	<key>Level22Unlocked</key>
	<false/>
	<key>Level22Stars</key>
	<integer>0</integer>
	<key>Level23Unlocked</key>
	<false/>
	<key>Level23Stars</key>
	<integer>0</integer>
	<key>Level24Unlocked</key>
	<false/>
	<key>Level24Stars</key>
	<integer>0</integer>
	<key>Level25Unlocked</key>
	<false/>
	<key>Level25Stars</key>
	<integer>0</integer>
	<key>Level26Unlocked</key>
	<false/>
	<key>Level26Stars</key>
	<integer>0</integer>
	<key>Level27Unlocked</key>
	<false/>
	<key>Level27Stars</key>
	<integer>0</integer>
	<key>Level28Unlocked</key>
	<false/>
	<key>Level28Stars</key>
	<integer>0</integer>
	<key>Level29Unlocked</key>
	<false/>
	<key>Level29Stars</key>
	<integer>0</integer>
	<key>Level30Unlocked</key>
	<false/>
	<key>Level30Stars</key>
	<integer>0</integer>
	<key>Level31Unlocked</key>
	<false/>
	<key>Level31Stars</key>
	<integer>0</integer>
	<key>Level32Unlocked</key>
	<false/>
	<key>Level32Stars</key>
	<integer>0</integer>
	<key>Level33Unlocked</key>
	<false/>
	<key>Level33Stars</key>
	<integer>0</integer>
	<key>Level34Unlocked</key>
	<false/>
	<key>Level34Stars</key>
	<integer>0</integer>
	<key>Level35Unlocked</key>
	<false/>
	<key>Level35Stars</key>
	<integer>0</integer>
	<key>Level36Unlocked</key>
	<false/>
	<key>Level36Stars</key>
	<integer>0</integer>
	<key>Level37Unlocked</key>
	<false/>
	<key>Level37Stars</key>
	<integer>0</integer>
	<key>Level38Unlocked</key>
	<false/>
	<key>Level38Stars</key>
	<integer>0</integer>
	<key>Level39Unlocked</key>
	<false/>
	<key>Level39Stars</key>
	<integer>0</integer>
	<key>Level40Unlocked</key>
	<false/>
	<key>Level40Stars</key>
	<integer>0</integer>
	<key>Level41Unlocked</key>
	<false/>
	<key>Level41Stars</key>
	<integer>0</integer>
	<key>Level42Unlocked</key>
	<false/>
	<key>Level42Stars</key>
	<integer>0</integer>
	<key>Level43Unlocked</key>
	<false/>
	<key>Level43Stars</key>
	<integer>0</integer>
	<key>Level44Unlocked</key>
	<false/>
	<key>Level44Stars</key>
	<integer>0</integer>
	<key>Level45Unlocked</key>
	<false/>
	<key>Level45Stars</key>
	<integer>0</integer>
	<key>Level46Unlocked</key>
	<false/>
	<key>Level46Stars</key>
	<integer>0</integer>
	<key>Level47Unlocked</key>
	<false/>
	<key>Level47Stars</key>
	<integer>0</integer>
	<key>Level48Unlocked</key>
	<false/>
	<key>Level48Stars</key>
	<integer>0</integer>
	<key>Level49Unlocked</key>
	<false/>
	<key>Level49Stars</key>
	<integer>0</integer>
	<key>Level50Unlocked</key>
	<false/>
	<key>Level50Stars</key>
	<integer>0</integer>
</dict>
</plist>
