<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AntsToGenerate</key>
	<integer>200</integer>
	<key>AntLimit</key>
	<integer>70</integer>
	<key>SpawnSpeed</key>
	<real>0.9</real>
	<key>Unlocked</key>
	<false/>
	<key>BackgroundMusic</key>
	<string></string>
	<key>ThreeStarScore</key>
	<integer>500</integer>
	<key>TwoStarScore</key>
	<integer>200</integer>
	<key>OneStarScore</key>
	<integer>100</integer>
	<key>MoneyBagAntLimit</key>
	<integer>100</integer>
	<key>ArmoredAntLimit</key>
	<integer>80</integer>
	<key>FastAntLimit</key>
	<integer>50</integer>
	<key>BasicAntLimit</key>
	<integer>300</integer>
	<key>BackgroundName</key>
	<string>Background</string>
</dict>
</plist>
