<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>tap_hit_area_radius</key>
	<integer>4</integer>
	<key>tap_stun_area_radius</key>
	<integer>50</integer>
	<key>tap_damage</key>
	<integer>1</integer>
	<key>tap_shoots_fireballs</key>
	<false/>
	<key>fireballs_shot_delay</key>
	<integer>0</integer>
	<key>fireballs_shoot_burst</key>
	<false/>
	<key>fireballs_shoot_spread</key>
	<false/>
	<key>fireball_damage</key>
	<integer>1</integer>
	<key>zapper_damage</key>
	<integer>1</integer>
	<key>zapper_chain_length</key>
	<integer>3</integer>
	<key>zapper_arc_length</key>
	<integer>50</integer>
	<key>zapper_num_chains</key>
	<integer>3</integer>
	<key>zapper_arcs</key>
	<true/>
	<key>bugSprayFull</key>
	<integer>500</integer>
	<key>sprayRegenDelay</key>
	<integer>10</integer>
	<key>bugSpray_area_radius</key>
	<integer>0</integer>
	<key>bugSpray_regen_rate</key>
	<integer>0</integer>
	<key>sentry_shot_delay</key>
	<integer>0</integer>
	<key>sentry_area_radius</key>
	<integer>0</integer>
	<key>sentry_shoots_burst</key>
	<false/>
	<key>sentry_shoots_spread</key>
	<false/>
	<key>basketHealth</key>
	<integer>5</integer>
	<key>target_has_shield</key>
	<false/>
	<key>target_shield_strength</key>
	<integer>0</integer>
	<key>target_shield_delay</key>
	<integer>0</integer>
	<key>target_shield_recharge_time</key>
	<integer>0</integer>
	<key>target_shield_regenerates</key>
	<false/>
	<key>lastLevel</key>
	<integer>1</integer>
	<key>userHighScore</key>
	<integer>0</integer>
	<key>userTotalScore</key>
	<integer>0</integer>
	<key>userCash</key>
	<integer>0</integer>
	<key>currentLives</key>
	<integer>0</integer>
	<key>maxHearts</key>
	<integer>3</integer>
	<key>maxLives</key>
	<integer>5</integer>
	<key>regenDelay</key>
	<integer>1800</integer>
	<key>timeToResetLives</key>
	<integer>0</integer>
	<key>pointRegenCount</key>
	<integer>0</integer>
	<key>addPointsToRegenCount</key>
	<false/>
	<key>RegenCountLimit</key>
	<integer>1000</integer>
</dict>
</plist>
